body {
  background-color: #608856;         
  color: white;                      
  letter-spacing: 0.05rem;         
  height: 100vh;                     
  display: flex;                     
  justify-content: center;           
  align-content: center;             
  width: 80%;
  margin: 10px auto;
}

.idea {
  width: 100%;
}

.code {
  font-family: sans-serif;           
  background-color: #336112;         
  padding: 0.25rem 0.75rem;          
  font-size: 1.375rem;               
  border-radius: 0.15em;             
}

.code-block {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  background-color: #336189;
  padding: 0.5em 0.75em;
  font-size: 1.15rem;                                             
  border-radius: 0.15px;
  display: inline;
  margin: 1rem 0;
}

.idea-number {
  margin: auto;
  margin-bottom: 2.5rem;
  color: #CCCCCC;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  font-size: 1rem;
}

.js-idea {
  margin: auto;
  line-height: 2rem;
  font-weight: 300;
  font-size: 1.375rem;
}

.idea-button {
  background-color: teal;
  outline: solid;
  padding: 1rem 1.5rem;
  display: block;
  margin: auto;
  font-size: 1rem;
  margin-top: 2.5rem;
  cursor: pointer;
  font-weight: bolder;
  border: 1px solid yellow;
  color: white;
}

.disabled {
  background-color: greenyellow !important;
  color: maroon;
  cursor: not-allowed !important;
}
